<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
    <link rel="stylesheet" href="/css/signin.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="wrapper">
        <form action="">
            <h1>Signin</h1>
            <div class="inputbox">
                <input type="text" placeholder="Name" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="inputbox">
                <input type="text" placeholder="Email" required>
                <i class='bx bxs-envelope'></i>
            </div>
            <div class="inputbox">
                <input type="text" placeholder="Phone" required>
                <i class='bx bxs-phone'></i>
            </div>
            <div class="inputbox">
                <input type="text" name="username" id="username" placeholder="Username" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="inputbox">
                <input type="password" name="password" id="password" placeholder="Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="inputbox">
                <input type="password" placeholder="Retype Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            
            <button class="btn" type="submit"><a href="http://localhost:3000/login">Signin</a></button>
            <div class="register-link">
                <p>You already have an account? <a href="http://localhost:3000/login">Login now</a></p>

            </div>
        </form>
    </div>
</body>

</html>